.banner{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.banner .bannerTextDiv{
    display: flex;
    align-items: center;
    height: 100vh !important;
}
.fs-100{
    font-size: 5rem;
}

.herobtn{
    transition: color 1s linear, background-color .5s linear !important;
}
.herobtn:hover{
color: #1F8958 !important;
background-color: whitesmoke !important;
}